footer {
  width: 80%;
  max-width: 1400px;
  margin: 0 auto;
  background: whitesmoke;
  display: grid;
  grid-template-columns: 50% 50%;

  @media screen and (max-width: 800px) {
    display: block;
  }

  .footer-left-part-container {
    position: relative;

    &::after {
      content: "";
      background: rgb(207, 201, 201);
      width: 1px;
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
    }
  }
  .footer-left-part {
    width: 80%;
    margin: 0 auto;

    form {
      padding: 60px 0;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1 1 1 1;
      grid-template-areas:
        "name-form"
        "email-form"
        "message-form"
        "button";
    }
    .name-form {
      grid-area: name-form;
    }
    .email-form {
      grid-area: email-form;
    }
    .message-form {
      grid-area: message-form;
    }
    label {
      text-transform: uppercase;
      font-family: "InterExtraBold";
      font-size: 0.7rem;
      display: block;
      text-align: left;
      color: rgb(110, 109, 109);
      letter-spacing: 2px;
      font-weight: 100;
      margin-bottom: 20px;
    }
    input[type="text"] {
      width: 100%;
      background: transparent;
      border: solid 1px rgb(207, 201, 201);
      padding: 12px;
      border-radius: 5px;
      margin-bottom: 20px;
      outline: none;
    }
    textarea {
      background: transparent;
      width: 100%;
      border: solid 1px rgb(207, 201, 201);
      border-radius: 5px;
      resize: none;
      margin-bottom: 30px;
      padding: 10px;
      outline: none;
    }
    input[type="submit"] {
      padding: 15px;
      max-width: 160px;
      text-transform: uppercase;
      font-family: "InterExtraBold";
      font-weight: 300;
      font-size: 0.7rem;
      letter-spacing: 2px;
      color: rgb(110, 109, 109);
      background: transparent;
      border: solid 2px rgb(94, 90, 90);
      transition: 0.2s;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  .footer-right-part-container {
    display: grid;
    grid-template-rows: 25% 25% 25% 25%;
    min-height: 600px;
  }
  .footer-right-part-box-container {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 30% 70%;
    position: relative;
    box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.082);
  }
  .footer-right-part-box-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .footer-right-part-box-right {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  h4 {
    text-transform: uppercase;
    font-family: "InterExtraBold";
    font-weight: 100;
    font-size: 0.7rem;
    letter-spacing: 2px;
    color: rgb(110, 109, 109);
    padding-left: 30px;

    @media screen and (max-width: 800px) {
      font-size: 0.9rem;
    }
  }
  h5 {
    font-family: "MerriweatherLight";
    font-weight: 100;
    font-size: 0.9rem;
    color: rgb(179, 174, 174);
    width: 100%;
    max-width: 215px;
    text-align: left;

    @media screen and (max-width: 900px) {
      font-size: 0.7rem;
      padding-left: 10px;
    }
    @media screen and (max-width: 800px) {
      font-size: 1rem;
      max-width: 300px;
    }
    @media screen and (max-width: 890px) {
      font-size: 0.7rem;
      padding-left: 30px;
    }
  }
  ul {
    width: 100%;
    max-width: 215px;
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 900px) {
      padding-left: 10px;
    }
    @media screen and (max-width: 800px) {
      max-width: 330px;
    }
    @media screen and (max-width: 700px) {
      max-width: 90%;
    }
  }
  li {
    width: 20px;
    height: 20px;
    border: 1px solid rgb(179, 174, 174);
    border-radius: 150px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  a {
    color: black;
    transition: 0.2s;
    &:hover {
      transform: scale(1.2);
    }
  }
}
