main {
  width: 80%;
  max-width: 1100px;
  margin: 0 auto 30px;
  background: white;

  .main-part-1 {
    width: 80%;
    margin: 0 auto;
    padding: 80px 0;
    position: relative;
    &::after {
      content: "";
      height: 1px;
      width: 125%;
      position: absolute;
      left: -12.5%;
      bottom: 0;
      background: rgb(190, 190, 190);
    }

    h4 {
      font-family: "MerriweatherLight";
      font-weight: 100;
      margin-bottom: 70px;
      position: relative;

      &::before {
        content: "";
        height: 2px;
        width: 40%;
        left: 0;
        background: rgb(216, 211, 211);
        position: absolute;
        bottom: 50%;

        @media screen and (max-width: 890px) {
          width: 30%;
        }
      }
      &::after {
        content: "";
        height: 2px;
        width: 40%;
        right: 0;
        background: rgb(216, 211, 211);
        position: absolute;
        bottom: 50%;

        @media screen and (max-width: 890px) {
          width: 30%;
        }
      }
    }
    h2 {
      text-transform: uppercase;
      font-size: 3rem;
      font-family: "InterExtraBold";
      max-width: 600px;
      margin: 0 auto 40px;
      letter-spacing: 3px;

      @media screen and (max-width: 890px) {
        font-size: 2rem;
      }
      @media screen and (max-width: 600px) {
        font-size: 1.5rem;
      }
    }
    p {
      max-width: 500px;
      margin: 0 auto 40px;
      font-family: "MerriweatherLight";
      letter-spacing: 1px;
      line-height: 40px;
      font-size: 0.8rem;
      font-style: italic;
      font-weight: 100;

      @media screen and (max-width: 890px) {
        font-size: 0.7rem;
      }
    }
    .main-part-1-image {
      width: 100%;
      margin-bottom: 40px;
      img {
        width: 100%;
      }
    }
  }
}
