@font-face {
  font-family: "InterExtraBold";
  src: url(../Font/Inter-ExtraBold.ttf);
}
@font-face {
  font-family: "MerriweatherLight";
  src: url(../Font/Merriweather-Light.ttf);
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
}

body {
  min-height: 100vh;
  background: url(../images/bg.jpg) fixed center/cover;
  text-align: center;
  padding-bottom: 60px;
}

#full-story-button {
  background: transparent;
  border: 2px solid black;
  padding: 13px 30px;
  text-transform: uppercase;
  font-family: "InterExtraBold";
  font-weight: 500;
  letter-spacing: 3px;
}

header {
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
  color: whitesmoke;
  font-size: 1.2rem;
}
header .header-container {
  padding: 200px 0 135px;
  -webkit-animation: fadeInAnimation ease 2s;
          animation: fadeInAnimation ease 2s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@-webkit-keyframes fadeInAnimation {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
header .header-container h1 {
  font-family: "InterExtraBold";
  text-transform: uppercase;
  font-size: 4rem;
  margin: 0 auto;
  letter-spacing: 5px;
  width: 100%;
  max-width: 610px;
  margin-bottom: 30px;
}
header .header-container #icon-header {
  margin: 60px auto 0;
  height: 60px;
  width: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid whitesmoke;
  border-radius: 150px;
}
header nav {
  background: rgba(245, 245, 245, 0.24);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 70px;
  max-height: 70px;
  color: whitesmoke;
}
header nav .nav-left-part {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header nav .nav-left-part h3 {
  font-family: "InterExtraBold";
  text-transform: uppercase;
  font-size: 0.7rem;
  letter-spacing: 3px;
  width: 100%;
  padding: 28px 0;
}
header nav .nav-left-part h3:hover {
  background: whitesmoke;
  color: black;
}
header nav .nav-right-part {
  width: 30%;
  margin: auto 0;
}
header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}
header nav ul i {
  color: whitesmoke;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
header nav ul i:hover {
  font-size: 2rem;
}

main {
  width: 80%;
  max-width: 1100px;
  margin: 0 auto 30px;
  background: white;
}
main .main-part-1 {
  width: 80%;
  margin: 0 auto;
  padding: 80px 0;
  position: relative;
}
main .main-part-1::after {
  content: "";
  height: 1px;
  width: 125%;
  position: absolute;
  left: -12.5%;
  bottom: 0;
  background: rgb(190, 190, 190);
}
main .main-part-1 h4 {
  font-family: "MerriweatherLight";
  font-weight: 100;
  margin-bottom: 70px;
  position: relative;
}
main .main-part-1 h4::before {
  content: "";
  height: 2px;
  width: 40%;
  left: 0;
  background: rgb(216, 211, 211);
  position: absolute;
  bottom: 50%;
}
main .main-part-1 h4::after {
  content: "";
  height: 2px;
  width: 40%;
  right: 0;
  background: rgb(216, 211, 211);
  position: absolute;
  bottom: 50%;
}
main .main-part-1 h2 {
  text-transform: uppercase;
  font-size: 3rem;
  font-family: "InterExtraBold";
  max-width: 600px;
  margin: 0 auto 40px;
  letter-spacing: 3px;
}
main .main-part-1 p {
  max-width: 500px;
  margin: 0 auto 40px;
  font-family: "MerriweatherLight";
  letter-spacing: 1px;
  line-height: 40px;
  font-size: 0.8rem;
  font-style: italic;
  font-weight: 100;
}
main .main-part-1 .main-part-1-image {
  width: 100%;
  margin-bottom: 40px;
}
main .main-part-1 .main-part-1-image img {
  width: 100%;
}

.main-part-2 {
  display: grid;
  grid-template-columns: 50% 50%;
}
.main-part-2 .main-part-2-left-part-container {
  position: relative;
}
.main-part-2 .main-part-2-left-part-container::after {
  content: "";
  height: 100%;
  width: 1px;
  position: absolute;
  right: 0;
  top: 0;
  background: rgb(190, 190, 190);
}
.main-part-2 .main-part-2-left-part {
  width: 80%;
  margin: 0 auto;
  padding: 60px 0;
}
.main-part-2 .main-part-2-right-part {
  width: 80%;
  margin: 0 auto;
  padding: 60px 0;
}
.main-part-2 h4 {
  font-family: "MerriweatherLight";
  font-weight: 100;
  margin-bottom: 40px;
  font-size: 0.9rem;
}
.main-part-2 h3 {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-family: "InterExtraBold";
  letter-spacing: 3px;
  width: 225px;
  margin: 0 auto 30px;
  line-height: 30px;
}
.main-part-2 img {
  width: 100%;
  margin: 0 auto 30px;
}
.main-part-2 p {
  font-family: "MerriweatherLight";
  font-weight: 100;
  font-size: 0.8rem;
  line-height: 30px;
  margin: 0 auto 30px;
}

footer {
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
  background: whitesmoke;
  display: grid;
  grid-template-columns: 50% 50%;
}
footer .footer-left-part-container {
  position: relative;
}
footer .footer-left-part-container::after {
  content: "";
  background: rgb(207, 201, 201);
  width: 1px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
}
footer .footer-left-part {
  width: 80%;
  margin: 0 auto;
}
footer .footer-left-part form {
  padding: 60px 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1 1 1 1;
  grid-template-areas: "name-form" "email-form" "message-form" "button";
}
footer .footer-left-part .name-form {
  grid-area: name-form;
}
footer .footer-left-part .email-form {
  grid-area: email-form;
}
footer .footer-left-part .message-form {
  grid-area: message-form;
}
footer .footer-left-part label {
  text-transform: uppercase;
  font-family: "InterExtraBold";
  font-size: 0.7rem;
  display: block;
  text-align: left;
  color: rgb(110, 109, 109);
  letter-spacing: 2px;
  font-weight: 100;
  margin-bottom: 20px;
}
footer .footer-left-part input[type=text] {
  width: 100%;
  background: transparent;
  border: solid 1px rgb(207, 201, 201);
  padding: 12px;
  border-radius: 5px;
  margin-bottom: 20px;
  outline: none;
}
footer .footer-left-part textarea {
  background: transparent;
  width: 100%;
  border: solid 1px rgb(207, 201, 201);
  border-radius: 5px;
  resize: none;
  margin-bottom: 30px;
  padding: 10px;
  outline: none;
}
footer .footer-left-part input[type=submit] {
  padding: 15px;
  max-width: 160px;
  text-transform: uppercase;
  font-family: "InterExtraBold";
  font-weight: 300;
  font-size: 0.7rem;
  letter-spacing: 2px;
  color: rgb(110, 109, 109);
  background: transparent;
  border: solid 2px rgb(94, 90, 90);
}
footer .footer-right-part-container {
  display: grid;
  grid-template-rows: 25% 25% 25% 25%;
}
footer .footer-right-part-box-container {
  display: grid;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  grid-template-columns: 30% 70%;
  position: relative;
  -webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.082);
          box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.082);
}
footer .footer-right-part-box-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .footer-right-part-box-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer h4 {
  text-transform: uppercase;
  font-family: "InterExtraBold";
  font-weight: 100;
  font-size: 0.7rem;
  letter-spacing: 2px;
  color: rgb(110, 109, 109);
  padding-left: 30px;
}
footer h5 {
  font-family: "MerriweatherLight";
  font-weight: 100;
  font-size: 0.9rem;
  color: rgb(179, 174, 174);
  width: 100%;
  max-width: 215px;
  text-align: left;
}
footer ul {
  width: 100%;
  max-width: 215px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer li {
  width: 20px;
  height: 20px;
  border: 1px solid rgb(179, 174, 174);
  border-radius: 150px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer a {
  color: black;
}/*# sourceMappingURL=index.css.map */