@font-face {
  font-family: "InterExtraBold";
  src: url(../Font/Inter-ExtraBold.ttf);
}
@font-face {
  font-family: "MerriweatherLight";
  src: url(../Font/Merriweather-Light.ttf);
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: url(../images/bg.jpg) fixed center/cover;
  text-align: center;
}

#full-story-button {
  background: transparent;
  border: 2px solid black;
  padding: 13px 30px;
  text-transform: uppercase;
  font-family: "InterExtraBold";
  font-weight: 500;
  letter-spacing: 3px;
}

header {
  max-width: 1100px;
  margin: 0 auto;
  color: whitesmoke;
  font-size: 1.2rem;
}
header .header-container {
  padding: 200px 0 135px;
}
header .header-container h1 {
  font-family: "InterExtraBold";
  text-transform: uppercase;
  font-size: 4rem;
  margin: 0 auto;
  letter-spacing: 5px;
  max-width: 57%;
  margin-bottom: 30px;
}
header .header-container #icon-header {
  margin: 60px auto 0;
  height: 60px;
  width: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid whitesmoke;
  border-radius: 150px;
}
header nav {
  background: rgba(245, 245, 245, 0.24);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 70px;
  max-height: 70px;
  color: whitesmoke;
}
header nav .nav-left-part {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header nav .nav-left-part h3 {
  font-family: "InterExtraBold";
  text-transform: uppercase;
  font-size: 0.7rem;
  letter-spacing: 3px;
  width: 100%;
  padding: 28px 0;
}
header nav .nav-left-part h3:hover {
  background: whitesmoke;
  color: black;
}
header nav .nav-right-part {
  width: 30%;
  margin: auto 0;
}
header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}
header nav ul i {
  color: whitesmoke;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
header nav ul i:hover {
  font-size: 2rem;
}

main {
  max-width: 1100px;
  margin: 0 auto;
  background: white;
}
main .main-part-1 {
  width: 80%;
  margin: 0 auto;
  padding: 80px 0;
  position: relative;
}
main .main-part-1::after {
  content: "";
  height: 1px;
  width: 125%;
  position: absolute;
  left: -12.5%;
  bottom: 0;
  background: rgb(190, 190, 190);
}
main .main-part-1 h4 {
  font-family: "MerriweatherLight";
  font-weight: 100;
  margin-bottom: 70px;
  position: relative;
}
main .main-part-1 h4::before {
  content: "";
  height: 2px;
  width: 40%;
  left: 0;
  background: rgb(216, 211, 211);
  position: absolute;
  bottom: 50%;
}
main .main-part-1 h4::after {
  content: "";
  height: 2px;
  width: 40%;
  right: 0;
  background: rgb(216, 211, 211);
  position: absolute;
  bottom: 50%;
}
main .main-part-1 h2 {
  text-transform: uppercase;
  font-size: 3rem;
  font-family: "InterExtraBold";
  max-width: 600px;
  margin: 0 auto 40px;
  letter-spacing: 3px;
}
main .main-part-1 p {
  max-width: 500px;
  margin: 0 auto 40px;
  font-family: "MerriweatherLight";
  letter-spacing: 1px;
  line-height: 40px;
  font-size: 0.8rem;
  font-style: italic;
  font-weight: 100;
}
main .main-part-1 .main-part-1-image {
  width: 100%;
  margin-bottom: 40px;
}
main .main-part-1 .main-part-1-image img {
  width: 100%;
}

.main-part-2 {
  display: grid;
  grid-template-columns: 50% 50%;
}
.main-part-2 .main-part-2-left-part-container {
  position: relative;
}
.main-part-2 .main-part-2-left-part-container::after {
  content: "";
  height: 100%;
  width: 1px;
  position: absolute;
  right: 0;
  top: 0;
  background: rgb(190, 190, 190);
}
.main-part-2 .main-part-2-left-part {
  width: 80%;
  margin: 0 auto;
  padding: 60px 0;
}
.main-part-2 .main-part-2-right-part {
  width: 80%;
  margin: 0 auto;
  padding: 60px 0;
}
.main-part-2 h4 {
  font-family: "MerriweatherLight";
  font-weight: 100;
  margin-bottom: 40px;
  font-size: 0.9rem;
}
.main-part-2 h3 {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-family: "InterExtraBold";
  letter-spacing: 3px;
  width: 225px;
  margin: 0 auto 30px;
  line-height: 30px;
}
.main-part-2 img {
  width: 100%;
  margin: 0 auto 30px;
}
.main-part-2 p {
  font-family: "MerriweatherLight";
  font-weight: 100;
  font-size: 0.8rem;
  line-height: 30px;
  margin: 0 auto 30px;
}/*# sourceMappingURL=index.css.map */